</div>
    
</body>
<footer>
    <br>
    <h5>About ICF Thought Leadership Institute</h5>
    <center>
        <p>We believe that thought-provoking conversation can be a catalyst for change.
        Through our transdisciplinary Convenings and Global Digital Library, we harness the power
        of collective wisdom to imagine a sustainable future for people and planet.</p>
    </center>
<br>
</footer>
</html>