<%- include('layouts/cabecera.ejs') -%>

<div id="padremenu">
    <div id="global">
        <h1>GLOBAL DIGITAL LIBRARY</h1>
        <P>A hub of knowledge for transformation.</P> 
    </div>
    <div id="desc">
      <br>
        <div id="texto1">
          <h2>Browse our Collections</h2>
          <p>Each Collection of our Global Digital Library represents a domain of human development wisdom that 
            influences—or is influenced by—coaching. Connecting these fields of inquiry is our commitment to investigate
             how coaching contributes to the United Nations Action Plan for societal well-being. As a holistic system, 
             these four pillars inform our research focus, which in turn generates our body of knowledge.</p>
        </div>
        <div id="tarjeta">
          <div id="left">

          </div>
          <div id="center">
            <div class="card" style="width: 22rem;">
              <img src="https://thoughtleadership.org/wp-content/uploads/2022/07/zpwfua5g_ki-e1657293934362.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">MANIFESTING THE FUTURE OF EDUCATION</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            <div class="card" style="width: 22rem;">
              <img src="https://thoughtleadership.org/wp-content/uploads/2022/07/zpwfua5g_ki-e1657293934362.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">MANIFESTING THE FUTURE OF EDUCATION</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            <div class="card" style="width: 22rem;">
              <img src="https://thoughtleadership.org/wp-content/uploads/2022/07/zpwfua5g_ki-e1657293934362.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">MANIFESTING THE FUTURE OF EDUCATION</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            

          </div>
          <div id="right">

          </div>          
        </div>
    </div>
</div>
<%- include('layouts/pie.ejs') -%> 
