<%- include('../layouts/cabecera.ejs') -%>
<div class="container">
    <form method="post" action="/rutasLibros" enctype="multipart/form-data">
        <div class="form-group">
            <label for="my-input">Nombre</label>
            <input id="my-input" class="form-control" type="text" name="nombre">
        </div>
        <div class="form-group">
            <label for="my-input">Imagen</label>
            <input id="my-input" class="form-control" type="file" name="archivo">
        </div>
        <button class="btn btn-primary" type="submit">guardar</button>
        <a href="/rutasLibros/Cancelar" class="btn btn-danger" type="button">Cancelar</a>

    </form>
    
</div>
    

<%- include('../layouts/pie.ejs') -%> 
 
